//highlight red//
$red: #FF503F;

//team & work backgrounds//
$grey: #EAEFF3;

//header//
$darkblue: #040E18;

//best-cases//
$aqua: #D5EEE8;
$peagreen: #FAFBEB;
$pink: #F3E9F4;
$lightblue: #EAF8FB;
$teal: #53BFC2;

//prices//
$green: #9FC050;

//footer social icons//
$facebook: #6588D3;
$twitter: #55acee;
$vimeo: #1ab7ea;
$flickr: #0063dc;
$pinterest: #cc2127;
$dribbble: #ea4c89;
$darkgrey: #22272A;

//fonts//
$lato: 'Lato', sans-serif;
$georgia: 'Georgia', serif;

//text//
$greyh: #445158;
$greyp: #a3afb5;
$greyp2: #bbc5ca;
$greyp3: #a1aeb5;
